@model List<Book>
@{
    int i = 1;
}
@inject IBookRepository context

<div class="d-flex justify-content-end my-4 container">
    <a asp-action="Add" class="btn cst-btn">Add New Book</a>
</div>

<div class="table-responsive container">
    <h3 class="p-3 table-header text-light text-center mb-0">Books</h3>
    <table class="table table-striped table-bordered  table-hover">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Book Name</th>
                <th class="text-center">Book Code</th>
                <th class="text-center">Book Copies</th>
                <th class="text-center">Available Copies</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr id="id-@book.Id">
                    <td class="text-center">@(i++)</td>
                    <td class="text-center">@book.Name</td>
                    <td class="text-center">@book.Code</td>
                    <td class="text-center">@book.Copies</td>
                    <td class="text-center">@context.GetBookCopiesInStock(book.Id)</td>

                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@book.Id" style="cursor:pointer" class="btn btn-warning">Edit</a>
                        <a style="cursor:pointer" onclick="deleteBook(@book.Id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script>
        function deleteBook(id) {
            var bookId = `#id-${id}`
            
            Swal.fire({
                title: 'Are you sure?',
                text: "You can't get it back",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Book/Delete/',
                        method: 'GET',
                        data: {
                            Id: id
                        },
                        success: function (response) {
                            let row = document.querySelector(bookId)
                            let body = document.querySelector('tbody')
                            body.removeChild(row);
                            Swal.fire({
                                title: 'Deleted Successfully',
                                text: `Book is deleted`,
                                icon: 'success',
                                confirmButtonText: 'Ok'
                            })
                            console.log('Request succeeded:', response);
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status == 400) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Delete Failed !!!',
                                    text: 'this book has borrowers',
                                    confirmButtonText: 'Ok'
                                })
                            }
                        }
                    });

                }
            })
        }
    </script>
}